
# Environment variables
.env

# Rust/cargo
target/
**/*.rs.bk                  
Cargo.lock

# Ide
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
node_modules/

# Sensitive data / passwords
*.json
*.db

# Logs
*.log
